@model CourseWork2019.Models.Question
@{
    ViewBag.Title = "Добавить вопрос";
}
<h3>Добавить вопрос</h3>
<form asp-action="CreateQuestion" asp-controller="home">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="QuestionContent" class="control-label">Содержание вопроса</label>
        <input type="text" asp-for="QuestionContent" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CorrectAnswer" class="control-label">Правильный ответ</label>
        <input type="number" asp-for="CorrectAnswer" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>
