@{
    //ViewData["Title"] = "Курсач";
    //_Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Вопросы</title>
</head>
<body>
    <h3>Вопросы</h3>
    <table>
        <tr>
            <td>Название Теста</td>
            <td>Пройти</td>
        </tr>
        @foreach (var test in Model)
        {
            <tr>
                <td>@test.Name</td>
                <td><a href="~/Home/Test/@test.Id">Пройти тест</a></td>
            </tr>
        }
    </table>
</body>
</html>