@{
    //ViewData["Title"] = "Курсач";
    //_Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Вопросы</title>
</head>
<body>
    <h3>Вопросы</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Вопрос</td>
            <td>Ответ</td>
            <td></td>
        </tr>
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.Name</td>
                <td>@Html.Raw(question.QuestionContent)</td>
                <td>@question.CorrectAnswer</td>
                <td><a href="~/Home/@question.Id">Пока что ничего не привязано</a></td>
            </tr>
        }
    </table>
</body>
</html>