@{
    //ViewData["Title"] = "Курсач";
    //_Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Вопросы</title>
</head>
<body>
    <h3>Вопросы</h3>
        @foreach (var question in Model)
        {
        <table>
            <tr><th>@question.Name</th></tr>
            <tr><th>@Html.Raw(question.QuestionContent)</th></tr>

            @foreach (var i in question.Answers)
            {
                <tr><th>@i</th></tr>
            }
        </table>
        }
</body>
</html>